/* :root {
    --primary-brand-color: #4d5ae5;
    --body-text-color: #434455;
    --dark-color: #2e2f42;
    --white-color: #ffffff;
    --accent-color: #e7e9fc;
    --pressed-state-color: #404bbf;
    --light-color: #f4f4fd;
} */
body {
    background-color: #ffffff ;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    letter-spacing: 0.02em;
} 

ul {
    list-style: none;
}

.header {
    background-color: #ffffff;
}

.header-logo,
.footer-logo {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight: 800;
    text-decoration: none;
}

.header-web-span,
.footer-web-span {
    color: #4d5ae5;
}

.header-studio-span {
    color: #2e2f42;
}

.footer-studio-span {
    color: #f4f4fd;
}

.menu-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    list-style: none;
}

.link {
    text-decoration: none;
}

.nav-studio {

}

.nav-studio:hover,
.nav-studio:focus, 
.nav-portfolio:hover,
.nav-portfolio:focus,
.nav-contacts:hover,
.nav-contacts:focus {
    color: #404bbf ;

}

.header-address {
    font-style: normal;
    font-weight: 400;
    list-style: none;
}

.nav-mail:focus,
.nav-mail:hover {
    color: #404BBF;
}

.section-hero {
    background-color:#2e2f42;
}

.header-one {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
}

.header-two {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.header-three {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
}

.section-our-team {
    background-color: #f4f4fd;
}
.header-two-ot {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-card {
    background-color: #ffffff;
}

.filtter-button {
    font-family: "Roboto", sans-serif;
    background-color: #f4f4fd;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    cursor: pointer;
}

.filtter-button:hover,
.filtter-button:focus {
    background-color: #404bbf;
    color: #ffffff;
}

.list {
    list-style: none;

}

.header-img {
    color: #2e2f42;
}

.footer {
    background-color: #2e2f42;
}

.footer-text {
    color: #f4f4fd;
}
